root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_prefer_primary_constructors = true:suggestion
csharp_style_prefer_readonly_struct = true:suggestion
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_tuple_swap = true:suggestion
dotnet_diagnostic.IDE0130.severity = warning

[*.xaml]
indent_size = 4
indent_style = spaces

[*.csproj]
indent_size = 2
indent_style = spaces

[*.json]
indent_size = 2
indent_style = spaces

[*.md]
trim_trailing_whitespace = false
